@page "/"

<div class="container">
    <header class="my-4">
        <div class="header-graphic">
        </div>
        <h1 style="text-align: center;">Categories</h1>
        <p style="text-align: center;">For power tools, rentals, generators... We have it all! Get your job or project done with Village Rentals.</p>
    </header>
    <div class="row">
        <div class="col-md-4">
            <img src="power_tools.png" class="img-thumbnail" alt="Tools" style="width: 200px; height: 200px;">
            <h3>Power Tools</h3>
        </div>
        <div class="col-md-4">
            <img src="yard_equipment.png" class="img-thumbnail" alt="Tools" style="width: 200px; height: 200px;">
            <h3>Yard Equipment</h3>
        </div>
        <div class="col-md-4">
            <img src="compressor.png" class="img-thumbnail" alt="Tools" style="width: 200px; height: 200px;">
            <h3>Compressors</h3>
        </div>
    </div>
</div>


@* @code {
    private void GoToCustomers()
    {
        NavigationManager.NavigateTo("/customers");
    }

    private void GoToRentals()
    {
        // Navigate to the Rentals page
        NavigationManager.NavigateTo("/rentals");
    }

    private void GoToEquipment()
    {
        // Navigate to the Equipment page
    }
} *@
